---
layout: default
title: writing
parent: /
---

<main>
  <div class="container">
    <div class="header">
      {% include back.html %}
      <h1 class="title">creative writing</h1>
    </div>
    <div class="core-subpage">
      <div class="post-container">
        {% for post in site.writing %}
        <div class="post">
          <h2>
            <a class="post-link nav-btn" href="{{ post.url }}">
              {{ post.title }}
            </a>
          </h2>
          <!--  <p> {{ post.excerpt }} </p> -->
        </div>
        {% endfor %}
      </div>
    </div>
    {% include footer.html %}
  </div>
</main>
