<div class="footer">
    <div class="dropdown">

        <div class='drop-content'>
            <a class="logo" href="https://www.linkedin.com/in/{{site.linkedin_username}}/">
                <box-icon type='logo' name='linkedin-square'></box-icon>
            </a>
            <a class="logo" href="https://github.com/{{site.github_username}}">
                <box-icon type='logo' name='github'></box-icon>
            </a>
            <a class="logo" href="mailto:{{site.email}}">
                <box-icon name='paper-plane'></box-icon>
            </a>
        </div>

        <div class="drop-btn">

        </div>

    </div>
</div>